<!-- <div class="footer-padding">
    <div class="footer">
        <p>Made with love by Vivek</p>
    </div>
</div> -->
</div>
<footer class="footer"> 
    <div class="container"> 
        <span>Created with love by Vivek</span> 
    </div> 
</footer> 

</body>
</html>
